<div class="ChannelStripFader">
	<div class="texture-overlay"></div>
	<div class="channel">
	
	</div>
	<div class="tick n1"></div>
	<div class="tick-label n1">15</div>
	<div class="tick n2"></div>
	<div class="tick-label n2">10</div>
	<div class="tick n3"></div>
	<div class="tick-label n3">5</div>
	<div class="tick n4"></div>
	<div class="tick-label n4">0</div>
	<div class="tick n5"></div>
	<div class="tick-label n5">5</div>
	<div class="tick n6"></div>
	<div class="tick-label n6">10</div>
	<div class="tick n7"></div>
	<div class="tick-label n7">25</div>
	<div class="tick n8"></div>
	<div class="tick-label n8">35</div>
	<div class="tick n9"></div>
	<div class="tick-label n9">&infin;</div>
</div>