.ChannelStripFader {
	border:1px solid;
	position:relative;
	width:100px;
	height:300px;
}
.ChannelStripFader {
	border: none;
	border-top: 1px solid #7792B2;
	border-left: 1px solid #7792B2;
	border-bottom: 1px solid #222A33;
	border-right: 1px solid #222A33;
	background: #495c74; /* Old browsers */
	background: -moz-linear-gradient(top, #495c74 0%, #283747 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#495c74), color-stop(100%,#283747)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #495c74 0%,#283747 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #495c74 0%,#283747 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #495c74 0%,#283747 100%); /* IE10+ */
	background: linear-gradient(to bottom, #495c74 0%,#283747 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#495c74', endColorstr='#283747',GradientType=0 ); /* IE6-9 */
}
.ChannelStripFader .channel {
	background-color:black;
	position:relative;
	height:90%;
	width:2px;
	top:5%;
	margin:auto;
}

.ChannelStripFader .tick {
	background-color:white;
	position:absolute;
	height:2px;
	width:10%;
	margin:auto;
	left:55%;
}

.ChannelStripFader .tick.n1 {
	top:5%;
}
.ChannelStripFader .tick.n2 {
	top:15%;
}
.ChannelStripFader .tick.n3 {
	top:25%;
}
.ChannelStripFader .tick.n4 {
	top:35%;
}
.ChannelStripFader .tick.n5 {
	top:45%;
}
.ChannelStripFader .tick.n6 {
	top:55%;
}
.ChannelStripFader .tick.n7 {
	top:65%;
}
.ChannelStripFader .tick.n8 {
	top:75%;
}
.ChannelStripFader .tick.n9 {
	top:85%;
}
.ChannelStripFader .tick.n10 {
	top:95%;
}