<div class="ChannelStrip">
	<div class="channel-label"></div>
	
	<div class="buttons">
		<div class="button-container">
			<div class="button-label">ARM</div>
			<div class="armed button"></div>
			<div class="arm-led-container">
				
			</div>
		</div>
		<div class="button-container">
			<div class="button-label">SOLO</div>
			<div class="solo button"></div>
			<div class="solo-led-container">
				
			</div>
		</div>
		
	</div>
	
	<div class="eq-section">
		<div class="knob-container"></div>
	</div>
	
	<div class="send-container">
		<div class="send i verb">
			<div class="button-label">VERB</div>
			
		
		</div>
	</div>
	
	<div class="pan-container"></div>
	<div class="ChannelStripFaderContainer"></div>
</div>