<div class="knob <%= color %> <%= size %>">
	
	<!--div class="point">
		<div class="dent"></div>
	</div-->
	<div class="point i">
		<div class="dent"></div>
	</div>
	<div class="point ii">
		<div class="dent"></div>
	</div>
	<div class="point iii">
		<div class="dent"></div>
	</div>
	<div class="point iv">
		<div class="dent"></div>
	</div>
	<div class="point v">
		<div class="dent"></div>
	</div>
	<div class="point vi">
		<div class="dent"></div>
	</div>
	<div class="point vii">
		<div class="dent"></div>
	</div>
	<div class="point viii">
		<div class="dent"></div>
	</div>
	<div class="point ix">
		<div class="dent"></div>
	</div>
	<div class="point x">
		<div class="dent"></div>
	</div>
	<div class="circle"></div>
	<div class="inner-circle"></div>
	<div class="notch"></div>
</div>