@height: 40px;
@width: 92px;

@horizontal: 18px;
@vertical: 10px;

.push-button.play-button {
	width:@width;
	position:relative;
}

.play-button .triangle {
	width: 0; 
	height: 0; 
	top:10px;
	left: ( @width / 2 - 7px);
	position:absolute;
	border-top: (@vertical) solid transparent;
	border-bottom: (@vertical) solid transparent;
	border-left: (@horizontal) solid #316D2C;
}
