.time {
position:relative;
border: 1px;
width: 66px;
height:34px;
overflow:hidden;
background-color:black;
padding-left:2px;
padding-right:2px;
border:2px solid;
border-color: #293033 #293033 #888 #888;
border-radius:3px;
margin:20px;
margin:auto;
margin-bottom:20px;
}

.time .digit {
	font-family:'Courier New';
	font-size:30px;
	font-weight:700;
	background-color:#333;
	color:white;
	float:left;
	position:relative;
	top:-.6em;
	line-height:.8em;
	margin-left:2px;
	margin-right:2px;
}

.time .digit.last {
margin-right:2px;
}