<div class="rhythm-box-chassis">
	
<div class="rhythm-box">
	<div class="volume-container">
		<div class="volume-label label">Vol</div>
		<div class="volume-fader-container"></div>
		
	</div>
	<div class="other-container">
		<div class="tempo-and-start-container">
			<div class="tempo-container">
				<div class="tempo-label label">Tempo</div>
				<div class="tempo-display">120</div>
				<div class="tempo-knob"></div>
			</div>
			<div class="start-and-label-container">
				<div class="rhythm-box-label label">Rhythm Box</div>
				<div class="start-container">
					<div class="start-label label">Run</div>
					<div class="start-led"></div>
					<div class="start-button">
					</div>
				</div>
			</div>
			
		</div>
		<div class="patterns-container">
			<div class="patterns-label label">Pattern</div>
			<div class="pattern-label"></div>
			<div class="pattern-container">
				<div class="pattern-label label"></div>
				<div class="pattern-button"></div>
			</div>
			<div class="pattern-container">
				<div class="pattern-label label"></div>
				<div class="pattern-button"></div>
			</div>
			<div class="pattern-container">
				<div class="pattern-label label"></div>
				<div class="pattern-button active"></div>
			</div>
			<div class="pattern-container">
				<div class="pattern-label label"></div>
				<div class="pattern-button"></div>
			</div>
			<div class="pattern-container">
				<div class="pattern-label label"></div>
				<div class="pattern-button"></div>
			</div>
			<div class="pattern-container">
				<div class="pattern-label label"></div>
				<div class="pattern-button"></div>
			</div>
			</div>
		</div>
	</div>
</div>

</div>